body{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
    color: white;
}
main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(black ,white);
    color: rgb(170, 73, 157);
    text-shadow: 
    1px 1px 3px rgb(171, 46, 196),  
    -1px -1px 3px rgb(180, 24, 211),  
    1px -1px 3px rgb(180, 24, 211),  
    -1px 1px 3px rgb(180, 24, 211);
}
header{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(white ,black);
    text-align: center;
}
footer{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(white,black);
    text-align: center;
    display: grid;
}
h1{
    width: 50%;
    height: 50%;
    padding: 10;
    margin: 10;
}
.logo{
    border-top-right-radius: 40%;
    border-bottom-right-radius: 20%;
    width: 30%;
    height: 30%;
}

.video{
    width: 50%;
    height: 50%;
    border-radius: 15%;
    
}
.v1{
    display:flex;
    align-items: center;
}
.tevid{
    text-align: center;
    font-size: 400%;
}
.menu{
    background-color: rgb(170, 73, 157);
    display: flex;
    text-align: center;
    border-top: 5px solid rgb(171, 46, 196);
    border-bottom: 5px solid rgb(171, 46, 196);

}
.ftext{
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    text-align: center;
    border: 3px solid rgb(171, 46, 196);
    color: white;
    background-color: rgb(128, 73, 170);
}
a{
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
}